body {
  font-family: "Open Sans", sans-serif;
  background: rgb(251, 194, 235);
  background: linear-gradient(
    90deg,
    rgba(251, 194, 235, 1) 0%,
    rgba(166, 193, 238, 1) 100%
  );
}
h1 {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}
h2 {
  font-size: 38px;
  font-weight: 600;
  margin: 0;
}
h3 {
  font-size: 16px;
}
footer {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
}
a {
  text-shadow: none;
  text-decoration: none;
}
.btn-primary {
  background-color: #fac2eb;
  border: solid 2px #a6c1ef;
  color: #48484a;
  transition: 200ms ease-in-out;
}
.btn-primary:hover {
  background-color: #a6c1ef;
  border: solid 2px #fac2eb;
}
.card {
  margin: 0 auto;
  border: 2px solid;
  border-radius: 12px;
}
.card-text {
  text-align: center;
}
.container-fluid {
  padding: 30px;
}
.list-group-item {
  line-height: 1;
  border: none;
  font-style: italic;
  font-weight: 400;
}
.low-temp {
  opacity: 0.7;
}
.precipitation {
  margin-top: 10px;
}
.row {
  margin-top: 20px;
}
.search-engine {
  margin: 15px 0px 5px 5px;
}

.temperature {
  font-size: 34px;
}
.temperature .units {
  font-size: 16px;
  position: relative;
  top: -12px;
}

.units .active {
  color: black;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}
